.tweets
  .tweet
    .tweet-image
    .upper-content
      .username
      野口
      .time
      12時
    .main-content
    今日の天気は晴れですね
    .under-content
        
.upper-tweet
  .upper-tweet__tweet-image
  .upper-tweet__user-name
    野口
  .upper-tweet__date
    2019/09/05
  .main-tweet
    %p.main-tweet__body
  .lower-tweet
  