.top-page {
  display: flex;
  width: 100vw;
  background-color: white;
}
header.top-left { 
  height: 100vh;
  width:25%;
  text-align: center;
  font-size: 20px;
  .header-nav {
    height: 30px;
    margin-top: 30px;
  }
  .tweet-btn {
    display: inline-block;
    height: 40px;
    margin-top: 30px;
    width: 200px;
    border-radius: 25px;
    background-color: aqua;
  }
}

.top-main {
  border-left: solid 1px;
  border-right: solid 1px;
  height: 100vh; 
  width: 50%;
  .tweets {
    height: calc(100vh - 190px);
    overflow: scroll;
    padding: 46px 40px 0;
    .tweet {
      width: 100%;
      position: absolute;
      display: flex;
      .user-image{
        border-radius: 50%;
        background-color: black;
        height: 70px;
        width: 70px;
        position: relative;
        top: 0;
        left: 0;
      }
      .upper-content {
        display: flex;
        &__user-name {
          padding-left: 10px;
          font-size: 14px;
        }
        &__date {
          padding-left: 10px;
          font-size: 14px;
        }
        .main-tweet {
          color: #434a54;
          font-size: 14px;
          margin-bottom: 10px;
          p.main-tweet__body {
            word-wrap: break-word;
            overflow-wrap : break-word;
          }
        }
      }
    
    }
  }
}

.top-right {
  height: 100vh;
  width: 25%;
}